services:
  pg:
    image: postgres:16.2-alpine
    shm_size: 1g
    user: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: password
    command: postgres
      -c wal_level=logical
      -c max_wal_senders=10
      -c max_replication_slots=5
      -c hot_standby=on
      -c hot_standby_feedback=on
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./seed-data:/docker-entrypoint-initdb.d

  zero-cache:
    image: rocicorp/zero
    restart: always
    ports:
      - '4848:4848'
    environment:
      - 'ZERO_CHANGE_DB=postgresql://neondb_owner:npg_b9XHtya4uFgl@ep-fragrant-unit-a5n9nzqu.us-east-2.aws.neon.tech/zstart_cdb?sslmode=require'
      - 'ZERO_CVR_DB=postgresql://neondb_owner:npg_b9XHtya4uFgl@ep-fragrant-unit-a5n9nzqu.us-east-2.aws.neon.tech/zstart_cvr?sslmode=require'
      - ZERO_REPLICA_FILE=/data/zstart_replica.db
      - 'ZERO_UPSTREAM_DB=postgresql://neondb_owner:npg_b9XHtya4uFgl@ep-fragrant-unit-a5n9nzqu.us-east-2.aws.neon.tech/zstart?sslmode=require'
      - 'ZERO_PUSH_URL=postgresql://neondb_owner:npg_b9XHtya4uFgl@ep-fragrant-unit-a5n9nzqu.us-east-2.aws.neon.tech/zstart?sslmode=require'
    volumes:
      - zero-replica:/data

volumes:
  pgdata:
    driver: local
  zero-replica:
    external: true # You must create this volume ahead of time using: docker volume create zero-replica
